.glide_banner{
    max-height: calc(70vh - 90px);
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.glide_banner .banner img{
    width: 100%;
}



.catolog_list{
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0;
}

.catolog_list .catolog_elem{
    padding: 8px 16px;
    margin: 0px 5px 5px 0px;
    border-radius: 50px;
    cursor: pointer;
    border: 2px solid var(--index);
    transition: 0.2s;
}

.catolog_list .choosen_catolog_elem{
    background: var(--index);
    color: var(--index2);
    user-select: none;
}

